==
<html>
    <head>
        <title>October CMS - {{ this.page.title }}</title>
        <meta name="author" content="October CMS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}" />
        {% styles %}
        <link href="{{ ['assets/default.css']|theme }}" rel="stylesheet">
    </head>
    <body>
        <div>
            Layout
            {% page %}
        </div>
    </body>
</html>